body{
    margin:0px;
    background: #F3F5FC;
}

.logo{
    position: absolute;
    left: 36.67px;
    right: 37.43px;
    top:67px;
}

.campo-texto{
    /*
    position: absolute;
    width: 680px;
    height: 500px;
    left: 240px;
    top: 67px;
    resize: none;
*/
    position: absolute;
    width: 680px;
    height: 500px;
    left: 240px;
    top: 67px;
    resize: none;
    
    border: 1px solid #a4bad5;
    border-radius: 5px;
    background: #F3F5FC;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 25px;
}

.container-botones{
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    position: absolute;
    width: 680px;
    height: 67px;
    left: 240px;
    top: 600px;
    gap: 24px;
}

.estructura-boton{
    box-sizing: border-box;
    padding: 24px;
    border: 1px solid #0A3871;
    border-radius: 24px;
    width: 328px;
    height: 67px;
    font-size: 16px;
}

.boton-encriptar{
    background: #0A3871;
    color: #FFFFFF;
}

.boton-desencriptar{
    background: #D8DFE8;
    color: #0A3871;
}

.container-pantalla{
    position: absolute;
    width: 400px;
    height: 650px;
    left: 65%;
    top:67px;

    background: #FFFFFF;
    border-radius: 32px;
    box-shadow: 10px 20px 60px 5px #b4c5da;

}

.imagen-munheco{
    position: absolute;
    top:40px;
    left: 30px;   
}

.pantalla{
    position: absolute;
    width: 300px; 
    height: 500px;
    margin-left: 50px;
    margin-top: 20px;

    resize: none;
    border: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 25px;

}

.pantalla:focus{
    outline: none;
}

.parrafos{
    position: absolute;
    top: 380px;
    left: 10%;
    text-align: center;
}

.parrafos h3{
    font-size: 24px;
}

.boton-copiar{
    position: absolute;
    width: 328px; 
    height: 67px;
    border: 1px solid #0A3871;
    border-radius: 24px;
    top: 533px;
    left: 10%;
    font-size: 16px;
}




/**/
/*
@media screen and (max-width:1280px){
    .campo-texto{
        position: absolute;
        left: 10%;
        width: 40%;
    }

    .container-botones{
        position: absolute;
        left: 10%;
        width: 40%;
    }

    .container-pantalla{
        position: relative;
        left: 95vh;
    }
}
*/
@media screen and (min-width:600px) and (max-width:950px) {
    body{
        width: 100%;
        height: 100vh;
    }
    .campo-texto{
        position: relative;
        left: 10%;
        top: 14%;
        width: 80%;
        height: 30%;
    }

    .container-pantalla{
        border: #0A3871;
    }
    .container-botones{
        position: relative;
        top: 16%;
        left: 10%;
        width: 80%;
    }

    .container-pantalla{
        position: relative;
        left: 10%;
        top: 18%;
        width: 80%;
        height: 35%;
    }

    .pantalla{
        top: 1%;
        width: 85%;
        height: 60%;
        /*border: 1px solid black;*/
    }

    .parrafos{
        position: relative;
        top: 50px;
        left: 1%;
        text-align: center;
        font-size: 22px;
    }
    
    .parrafos h3{
        font-size: 30px;
    }
    
    .imagen-munheco{
        visibility: hidden;
    }

    .boton-copiar{
        position: absolute;
        top: 75%;
        left: 25%;
    }

}

@media screen and (max-width:540px) {
    body{
        width: 100%;
        height: 100vh;
    }

    .logo{
        position: absolute;
        top:2%;
        left: 10%;
    }

    .campo-texto{
        position: relative;
        width: 78%;
        height: 25%;
        top: 18%;
        left: 10%;

    }

    .container-botones{
        position: relative;
        top: 22%;
        left: 10%;
        right: 10%;
        width: 80%;
        gap:10%;
    }

    .estructura-boton{
        width: 90%;
        height: 70%;
        padding: 10px;
    }

    .container-pantalla{
        position: relative;
        top: 24%;
        left: 10%;
        width: 80%;
        height: 30%;
    }

    .pantalla{
        margin: 0px;
        position: relative;
        width: 82%;
        height: 55%;
        left: 8%;
        top: 5%;
    }

    .parrafos{
        position: absolute;
        top: 1px;
        left: 1%;
    }

    .parrafos h3{
        margin: 3%;
    }

    .boton-copiar{
        position: relative;
        left: 20%;
        top: 10%;
        width: 60%;
        height: 20%;
    }

    .imagen-munheco{
        visibility: hidden;
    }

   
}  